.cart-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-details {
  width: 680px;
  margin-right: 20px;
}

@media all and (max-width: 1050px) {
  .cart-details {
    width: 490px;
    margin-right: 0;
    margin-top: 20px;
  }
}

@media all and (max-width: 550px) {
  .cart-details {
    width: 380px;
  }
}

.cart-list-item:first-child {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 20px;
}

.cart-header-name {
  flex-basis: 50%;
  padding: 10px;
}

.cart-header-quantity {
  flex-basis: 23%;
  text-align: center;
  padding: 10px;
}

.cart-header-price {
  flex-basis: 23%;
  text-align: center;
  padding: 10px;
}
