.cart-summary {
  width: 300px;
  border: 1px solid #EFEFEF;
  align-self: flex-start;
  font-weight: lighter;
}

@media all and (max-width: 1050px) {
  .cart-summary {
    width: 490px;
  }
}

@media all and (max-width: 550px) {
  .cart-summary {
    width: 380px;
  }
}

.display-flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.padding {
  padding: 10px;
}

.text-light {
  color: #A9A9A9;
}

.background-gray {
    background-color: #EFEFEF;
}
